<!-- nos permite iterar un arreglo de articulos y almacenarlo en la variable |article| e imprimir el resultado -->
<% @articles.each do |article| %>
<h1><%= link_to article.title, article %></h1>
<% end %>
